*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.link-style{
    color:#fff;
    text-decoration:none;
    margin:auto;
    padding-right:5vw;
    font-size: 1.3em;
    font-weight: 300;
}
.link-container{
    color:#fff;
    text-decoration:none;
    margin:auto;    
    flex-basis:50%;
}
header{
    color:#fff;
    height :5em;
    width: 140vw;
    position: fixed;
    display: flex;
    transition: background 0.5s;
    padding:1em 5vw;    
    align-items : center;
    justify-content: center;
    z-index: 100;
}
.title{
    color:#fff;
    text-decoration:none;
    font-size: 2em;
    font-weight: 300;
    flex-basis: 50%;
}
.active{
    background: black;
}